*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
max-width: 500px;

margin: auto;
font-family: 'source sans-pro, calibri, tohoma, sans-serif';
font-size: 16px;
border: 5px solid #2255CC;
border-radius: 10px;
box-shadow: 2px 2px 2px black;
padding: 20px;
background-color: aquamarine;
}
.infophoto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img{
 width: 120px; 
 height: 120px;
 border-radius: 50%;
 margin-right: 20px;
}
section{
    display: flex;
    justify-content: space-between; 
}
.date{
    width: 100px;
}
.desci{
    width: 300px;
}